.git
.github
.vscode
.idea

node_modules
vendor

.env
.env.*
!.env.example

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/*.key
database/database.sqlite

tests
.phpunit.cache
.phpunit.result.cache

README.md
CLAUDE.md
AGENTS.md
